<h1><%= @recipe.title %></h1>

<%- @recipe.ingredients.each do |ingredient| -%>
  <p><%= ingredient.name %></p>
<%- end -%>

<p><%= link_to 'Edit Recipe', edit_recipe_path %></p>
<p><%= link_to 'Delete Recipe', @recipe, method: :delete %></p>
